*{
    margin: 0;
    padding: 0;
}

.navbar{

    display: flex;
    flex-direction: row;
    justify-content: right;
    position: fixed;
    top: 0;
    background-color: grey;
    width: 100%; 
    padding: 20px;
 
}

.navbar ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin-right: 30px;
}

.navbar a{
    color: white;
    text-decoration: none;
}

@media (max-width: 768px){
 
    

}